<section class="forth-footer d-flex flex-column flex-md-row">
            <div class="footer4">
                <div class="footer4inner d-flex flex-column flex-lg-row">
                    <div class="daraz-international-store">
                        <h3 class="footer-title">
                            Daraz International
                        </h3>
                        <div class="darazStores">
                            <a href="#"><img src="assets/icons/pakFlag.png" alt=""><span>Pakistan</span></a>
                            <a href="#"><img src="assets/icons/banFlag.png" alt=""><span>Bangladesh</span></a>
                            <a href="#"><img src="assets/icons/sriFlag.png" alt=""><span>Srilanka</span></a>
                            <a href="#"><img src="assets/icons/myanFlag.png" alt=""><span>Myanmar</span></a>
                            <a href="#"><img src="assets/icons/nepFlag.png" alt=""><span>Nepal</span></a>
                        </div>


                    </div>
                    <div>
                        <h3 class="footer-title">
                            Follow Us
                        </h3>
                        <div class="darazFollowLinks">
                            <a href="#"><img src="assets/icons/facebookIcon.png" alt=""></a>
                            <a href="#"><img src="assets/icons/vicon.png" alt=""></a>
                            <a href="#"><img src="assets/icons/instaIcon.png" alt=""></a>
                            <a href="#"><img src="assets/icons/youtubeIcon.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="daraz-copyright d-none d-lg-block">
                    © Daraz 2026
                </div>
            </div>
        </section>