*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #f85606;
    padding: 20px 0
;
}
.headerOptions{
    color: white;
    display: flex;
    gap: 24px;
    justify-content: end;
    padding: 0 20px;
    margin-bottom: 20px;
}
.headerOptions span a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: color .2s;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    
}

.logoSide {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: auto;
    width: max-content;
}
.logoSide .logoImg{
    height: 40px;
    width: 127px;
}

.logoImg a, .logoImg a img{
    width: 100%;
    height: 100%;

}

.search{
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    width: 688px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.search div, .search div input{
    height: 100%;
}
.searchInput input
{
    width: 688px;
}

.searchInput{
    display: flex;
    align-items: center;
    width: 688px;
}
.searchInput input, .searchInput span{
    height: 100%;
    border: none;
    

}
.searchInput span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 225, 210);
    padding: 10px 15px;
    color: #f85606;
    font-size: 16px;
}
.searchInput input{
    padding: 13px 19px;
}
.searchInput input:focus{
    outline: none;
}

.cart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}
