* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body,
html {
    background-color: rgb(241, 241, 244) !important ;
}

header {
    background-color: #f85606;
    height: 75px;
    /* padding: 20px 0; */
}
header#mainHeader{
    position: sticky; top: 0; z-index: 4; height: max-content; padding-top: 11px ; padding-bottom: 11px;  align-items: center; z-index: 100;
}
header#mainHeader nav{
    max-width: 1188px; margin: auto; display: flex; align-items: center;
}
* {
    font-family: "Roboto", sans-serif;
}


.banner {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    display: flex; justify-content: center; margin-top: 24px; height: 140px;


}
.banner img{
    height: 100%; max-width: 1188px;
}
.headerOptions {
    background-color: #f85606; margin-bottom: 0%; 
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif !important;
    font-family: "Roboto-Regular";
  src: url(https://g.lazcdn.com/g/lzdfe/static/0.0.29/Roboto/cyrillic-ext.woff2)
    format("woff2");
  font-display: swap;
    color: white;
    display: flex;
    
    justify-content: end;
    padding: 0 0px;
    margin-bottom: 20px;
    max-width: 1188px;
    margin: auto;
    height: 25px;
}
#topHeader{
    background-color: #f85606;
}
.headerOptions span{
    padding: 0 14px;
}
.SavePopover{
    display: none;
}
.SavePopover img{
    width: 100px;
}

.SavePopover div:nth-child(1){
    font-size: 16px;
    margin-bottom: 10px;
}
.SavePopover div:nth-child(3){
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
span.sellondaraz{
    padding-top: 1px; display: flex; align-items: start;
}
.headerOptions span a,
.loginButton,
.signUpButtonNav,
#popoverBtn,
#popoverBtnSave,
#popoverBtnHelp,
#popoverBtnLanguage {
    text-decoration: none;
    color: white !important;
    text-transform: uppercase !important;
    transition: color .2s !important;
    line-height: 25px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    color: inherit !important;
    background-color: inherit !important;
    border: 0;
    box-shadow: none;
    padding-top: 0px !important;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif !important;


}
button.signUpButtonNav, button.loginButton{
    padding: 6px 0; height: fit-content;
}
button.loginButton{
    padding: 6px 0; height: fit-content; display: flex; align-items: start;    
}

button:focus{
    box-shadow: none !important;
}
.languagePopover div{
    display: flex;
    gap: 10px;
}
.languagePopover div img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#popoverContentLanguage{
    display: none;
}
span.languageChangeSpan{
    padding-right: 0px !important;
}
button.languageChange{
    padding-right: 0px !important;
}

.helpCenterPopover {
    display: none;
    flex-direction: column;
    gap: 12px;
    height: max-content !important;
    width: 200px;
}

.helpCenterPopover div {

    display: block;
    align-items: center;
    gap: 20px;
    padding: 5px;
    cursor: pointer;
}

.helpCenterPopover div:hover {
    background: #f5f5f5;
    border-radius: 5px;
}

.helpCenterPopover div img,
.helpCenterPopover div i {
    width: 20px !important;
    height: 20px !important;
    font-size: 16px !important;
    flex: 0 0 50px;
    
}

.logoSide {
    display: flex;
    align-items: center;
    gap: 30px;
    /* margin-left: 120px; */
    width: max-content;
    position: sticky; top: 0;
}

.logoSide .logoImg {
    padding-top: 3px;
    height: 40px;
    width: 200px;
}

.logoImg a,
.logoImg a img {
    width: 127px;
    height: 39px;

}

.search {
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    width: 688px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.logoSide .searchInput input{
    border-radius: 2px; font-size: 14px; color: rgb(233, 233, 233);
}
.search div,
.search div input {
    height: 100%;
}

.searchInput input {
    width: 688px;
}

.searchInput {
    display: flex;
    align-items: center;
    width: 688px;
}

.searchInput input,
.searchInput span {
    height: 100%;
    border: none;


}

.searchInput span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 225, 210);
    padding: 10px 15px;
    color: #f85606;
    font-size: 16px;
}

.searchInput input {
    padding: 13px 19px;
}

.searchInput input:focus {
    outline: none;
}

.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.cardFsContent {
    background-color: white;
    
}
.cardFsContent .cards{
    padding: 4px 4px;
}
.cardFsContent .cards .card-inner{
    color: inherit; text-decoration: none;
}

.cardFsContent hr{
    margin: 2px 0;
}

.fs-banner {
    font-weight: 400;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    color: #424242;
    margin-bottom: 4px;
}

.fsStatus {
    font-size: 14px;
    font-weight: 500;
    height: 60px;
    font-family: "Roboto", sans-serif;
    color: rgb(245, 114, 36);
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.fsStatus p {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: #f57224;

}

.fsStatus a, .fsStatus a:hover {
    text-decoration: none;
    color: #f57224;
    border: 1px solid rgb(245, 114, 36);
    border-radius: 2px;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 13px 11px 0 0;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    height: 290px;
    width: 188px;
    margin-right: 12px;
}

.card:hover {
    box-shadow: 2px 2px 5px rgb(164, 164, 164);
}

.card img {
    width: 100%;
    height: 188px;
}

.flashSale {
    margin: 0 40px;
    padding-top: 24px;
    max-width: 1188px; margin: auto;
}

.cardDetail {
    font-size: 14px;
    line-height: normal;
    margin: 4px 8px 0 4px;
    font-family: "Roboto", sans-serif;


}

.cardDetail p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 4px;
}

.cardDetail .itemPrice {
    color: #f57224;
    font-size: 18px;
    height: 22px;
    letter-spacing: -.56px;
    line-height: 22px;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
}


.itemPriceDetail {
    color: rgb(158, 158, 158);
    font-size: 12px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

}

.itemPriceDetail span {
    color: rgb(158, 158, 158);
}

.itemDiscount {
    font-size: 12px;
    color: #212121 !important;
    margin-left: 4px;
}

section.categories {
    text-decoration: none;
    padding-top: 24px;
    

}

.cards-categories .categories {
    text-decoration: none;
    padding-top: 16px;

}

.cards-categories {

    background-color: white;

}

.cards-categories ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px !important;
}

.cards-categories ul li {
    list-style: none;
    width: 12.5%;
    height: 148.5px;
    display: flex;
    justify-content: center;
    gap: 1px;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;

}

.cards-categories ul li:hover {
    box-shadow: 2px 2px 5px rgb(164, 164, 164);
}

.categoryImg {
    display: flex;
    justify-content: center;
}

.categoryImg img {
    width: 80px;
    height: 80px;
}

.categoryDetail {
    margin: 8px 12px 0;
    text-align: center;
    font-size: 14px;
    color: black;
    font-weight: 400;

}
div#loadingProducts{
    margin: 30px 0;
}
div#loadingProducts .col{
    display: flex; justify-content: center;
}

a#loadProductsButton{
    color: #1a9cb8; 
    border: 1px solid #1a9cb8; 
    width: 387px; 
    text-align: center; 
    padding: 10px 20px; font-size: 14px; 
    text-decoration: none;
}


.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 1 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.carousel-section{
    display: flex; justify-content: center; height: 344px;
    
}
.carousel-inner{
    height: 100%; max-width:  1188px;
}
.carousel-slide-indicators{
    height: 100%; width: 1000px; position: relative !important;
}

.carousel-indicators [data-bs-target] {
    position: relative;
    top: 10px;
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 30px !important;
    width: 50px !important;
}

.pc-download-module{
    width: 200px; height: 100%;
}
.pc-download-module img{
    width: 100%; height: 100%;

}

 .flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.flex-items-center { align-items: center; }
.flex-justify-center { justify-content: center; }
.flex-justify-between { justify-content: space-between; } 

.pc-download-module {
    background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0)), 
                linear-gradient(179.27deg, #ffedd6 .83%, #ffc3e3 46.78%, #fff 99.57%), 
                linear-gradient(0deg, #fff, #fff);
    height: 344px;
    padding: 6px;
    width: 194px;
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.pc-download-module .topHead{
    width: 138px;
}
.pc-download-module .logo img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.pc-download-module .title {
    color: #6c1d00;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-left: 6px;
    max-width: 138px;
}
.enjoy-tips-wrap{
    margin-bottom: 14px;
}
.pc-download-module .module-content {
    background-image: url(https://img.lazcdn.com/g/tps/imgextra/i2/O1CN01tceZus1IewufOY1tZ_!!6000000000919-2-tps-364-316.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 158px;
    margin-top: 6px;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 8px;
    padding-top: 2px;
    box-sizing: border-box;
}

.score {
    
    width: fit-content;
    padding: 0px 2px;
    
    
}

.score .star img { width: 10px; height: 10px; margin-right: 4px; }
.rated-txt { color: #fff; font-size: 10px; font-weight: 700; }

.enjoy-tips {
   color: #fff;
    font-size: 12px;
    font-weight: 500;
    max-width: 164px;
    text-align: center;
    
}
.free-voucher-icons{
    padding-left: 20px;
}
.icon-item { margin-top: 1px; }
.icon-item .badge img { width: 36px; height: 36px; border-radius: 8px; margin-right: 1px; }
.icon-item .txt {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    margin-left: 2px;
    max-width: 82px; }

.module-qr { margin-top: 8px; text-align: center; }
.qr-code-image img { width: 85px; height: 85px; border: 1px solid #eee; }

.download-btn { height: 85px; margin-left: 8px; }
.pc-download-module .btn {
    display: block;
    width: 80px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Specific Daraz Store Sprite/Images */
.btn-1 { background-image: url(https://img.lazcdn.com/g/tps/imgextra/i4/O1CN0179qfA91SsnY87Uo1v_!!6000000002303-2-tps-160-70.png); }
.btn-2 { background-image: url(https://img.lazcdn.com/g/tps/imgextra/i1/O1CN019A8mI81Xp9mX0Zz5s_!!6000000002973-2-tps-160-70.png); }

.download-tips {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: #757575;
    font-weight: 500;
}

.downloadSection a img {
    width: 20px;
    height: 20px;
}

.downloadSection {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.downloadSection a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 4px;
}

.downloadingSection {
    display: flex;
    align-items: center;
    gap: 4px;
}

.productRating {
    display: flex;
    align-items: center;
}

.productRating span i {
    color: goldenrod;
    font-size: 8px;
}

.productRating .comments {
    color: grey;
}

.footer-first {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.customerCare {
    color: rgb(15, 19, 109);

}

.footer-first-title {
    font-size: 14px;
    font-weight: 500;
}

.customerCare ul,
.darazCare ul {
    list-style: none;
    padding-left: 0%;
    line-height: 0.9rem;

}

.customerCare ul li a,
.darazCare ul li a {
    color: rgb(15, 19, 109);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.customerCare ul li a:hover,
.darazCare ul li a:hover {
    text-decoration: underline;
}

.footerLogoLink {
    display: flex;
    
}

.footerLogoLink div:nth-child(1) {
    display: flex;
    align-items: start;
    gap: 10px;
}

.darazImgFooter {
    width: 60px;
    height: 60px;
}

.downloadCom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-second {
    display: flex;
    background-color: white;
    width: 100% !important;
    
}

.footer-second .payment-methods-type {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    gap: 6px;

}

.footer-second .payment-methods-type span {
    width: auto;
    height: 28px;
}

.footer-second .payment-methods-type span img {
    width: 100%;
    height: 100%;
}

.footer-second {
    margin: 0 30px;
}



.footer-title {
    color: #606060;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    margin: 0 0 5px;

}

.footerThird {
    display: flex;
    margin: 60px 50px;
}

.footerThird div {
    font-size: 12px;
    font-weight: 500;
    color: #888;
}

.footerThird p {
    font-size: 12px;
    font-weight: 500;
    color: #888;

}

.footerThird p a {
    color: #888;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
}

.footerThird p a:hover {
    color: #888;
    text-decoration: underline;
}

.footer-title {
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 5px;
}

.footerThird span {
    color: #606060;
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
    text-transform: uppercase;
}

.forth-footer {
    display: flex;
    margin: auto;
    gap: 40px;
    justify-content: space-between;

}

.forth-footer .darazStores a {
    color: black;
    text-decoration: none;
}

.darazStores {
    display: flex;
    align-items: center;
    gap: 14px;


}
.darazStores span{
    font-weight: 400;
    font-size: 14px;
    color: #606060;
}

.forth-footer .darazStores a:hover {
    text-decoration: underline;
}

.forth-footer .darazStores a img,
.forth-footer .darazFollowLinks a img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.forth-footer .footer-title {
    color: black;
}

.model-LoginOption {
    position: relative !important;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.model-LoginOption div {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.inactive {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #858b9c;



}

.active {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: black;
    cursor: pointer;

}

.forgotDiv {
    display: flex;
    justify-content: end;
}

.forgotPassword {
    font-size: 16px;
    font-weight: 400;
    text-align: end;
    color: #858b9c;
    ;
    text-decoration: none;
}

#loginButton,
.signUpButtonNav {
    font-size: 16px;
    font-weight: 500;
    background-color: #f57224;
    width: 100%;
    border: 0;
    color: white;
    height: 40px;
    border-radius: 6px;
}

.modal-body {
    padding: 30px 30px 10px 30px !important;
    gap: 10px; flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-control {
    height: 50px !important;
    font-size: 14px !important;
    font-weight: 400 !important;

    color: #858b9c !important;
    border-radius: 6px !important;
    border: 1px solid #858b9c !important;
}

.noAccount {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
    color: #858b9c;
    margin-top: 50px;
}

.noAccount img {
    width: 25px;
    height: 25px;
}

.loginThirdParty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loginThirdParty div:nth-child(2) {
    display: flex;
    gap: 20px;
}
.privacyPolicyLog{
    display: flex; gap: 5px; font-size: 14px; font-weight: 400; color: rgb(133, 139, 156);
}

.form-check-input{
    width: 20px;
}
.loginThirdParty div:nth-child(2) a span {
    margin-left: 10px;

}
#loginModel .modal-dialog, #signupModel .modal-dialog {
    margin-top: 55px; /* adjust as needed */
}
.modal-header{
    border-bottom-width: 0 !important;
    position: relative !important;
}
.modal-dialog{
    width: 444px !important; height: 447px !important; overflow: hidden !important;
}

.modal-content {
    
    overflow: hidden;
    height: 447px;
}

.phoneSectionLogin {
    display: flex;
    width: 100%;
    gap: 10px;
}

.phoneSectionLogin div:nth-child(1),
.phoneSectionLogin div:nth-child(2) {
    flex-grow: 1;
    padding: 5px 5px;
    border: 1px solid #898989 !important;
    color: #606060 !important;
    height: 48px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}

.phoneSectionLogin div:nth-child(2) input {
    border: 0px;
    padding: 2px 5px;
}
div#dontHaveAccount{
    text-align: center;
}
#dontHaveAccountSpan{
    color: #858b9c; font-weight: 300; font-weight: 10px;
}
.phoneSectionLogin div:nth-child(2) input:focus {
    outline: none;
}

.submitLoginPhone {
    background-color: #f57224;
    width: 100%;
    color: white;
    border: 0px;
    padding: 10px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
#countryCodeInput{
    display: flex; gap: 4px; height: 48px;

}
#countryCodeInput span:nth-child(1){
    font-size: 10px; position: relative; top: 3px;
}
#phoneNumber{
    width: 100%;
}
.phoneInput{
    flex-grow: 2;
}
.submitLoginPhone img {
    width: 24px; height: 24px; position: absolute; left: 10px;
}

form#loginwithPhone{
    display: none; gap: 60px; flex-direction: column; margin-top: 40px;
}
@keyframes appear {
    0% {
        transform: translateY(100px);

    }

    100% {
        transform: translateY(0px);

    }

}

@keyframes show {
    0% {
        transform: translate(-10px);

    }

    100% {
        transform: translate(0px);

    }

}

.animationModel {
    display: block;
    animation: appear 1s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}

#errorBoxLogin,
#errorBoxSignUp {
    background-color: rgb(118, 118, 118);
    /* Green background for success messages */
    color: white;

    opacity: 1;
    /* Initially visible when the 'hidden' class is removed */
    transition: opacity 0.5s ease-out;
    /* Smooth transition for fading */
    position: absolute;
    top: -2px;
    z-index: 5;
    padding: 10px 20px;
    border-radius: 6px;
}
#errorBoxLogin span, #errorBoxSignUp span{
    display: flex; align-items: center; gap: 10px;
}
#errorBoxLogin #msg, #errorBoxSignUp #msg {
    margin: 0%;
}
.fa-circle-xmark{
    color: red; font-size: 24px;
}
#emailLoginButton, #phoneLoginButton{
    cursor: pointer;
}
form#loginWithEmailSection{
    gap: 10px;

}
.passwordInputFieldModel{
    display: flex; align-items: center;

}
#loginPassword{
    position: relative;
}
#showPass{
    position: absolute; right: 60px; width: 20px; height: 20px; cursor: pointer; filter: grayscale(100%);
}
#passwordFeedback{
    display: none;
}
.loginFormButtonSubmit{
    padding-top: 4px;
}
.btn-close{
    position: absolute; right: 30px;
}

/* Class to hide the element */
.hidden {
    display: none;
    /* Removes the element from the flow of the page */
}

/* Class to trigger fade out */
.fade-out {
    opacity: 0;
}

.navigatorMain {
    align-items: center;
    justify-content: left;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 40px;
    left: 0px;

    color: #999;
    background-color: #f4f4f4;
    padding: 5px 3px;
}

.navigatorMain div {
    padding: 3px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding-left: 10px;


}

.navigator-expand {
    color: #999;
    display: flex;
    flex: 0 0 10px;
    align-items: center;
    position: relative;
    text-decoration: none;
    justify-content: center;

}

.exp {
    visibility: hidden;

}

.navigator-expand:hover {
    color: #f57224;
}

.navigator-expand:hover .exp {
    color: #f57224;
    position: relative;
    left: 20px;
    visibility: visible;
    position: absolute;
    width: max-content;
    background-color: #f4f4f4;
    padding: 3px 6px;
    animation: show 0.5s;

}

.navigator-expand span {
    position: absolute;
    left: 50px;


}

.messageNow{
    width: 160px;
    height: 40px;
    position: fixed;
    bottom: 0px;
    font-size: 18px;
    color: #044254;
    background-color: white;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}

@keyframes popup {
    0% {
        
        opacity: 0;
        transform: scale(0.1);
        transform-origin: bottom right;
        transition: all 0.1s ease-out;

    }

    100% {
        
        opacity: 1;
        transform: scale(1);

    }

}
@keyframes dispop {

    0%{
        opacity: 1;
        transform: scale(1);
        transform-origin: bottom right;
    }

    100%{
        opacity: 0;
        transform: scale(0.1);
        transform-origin: bottom right;
    }

}
.openBox{
    animation: dispop 0.5s forwards;
}
.closeBox{
    animation: dispop 0.5s forwards;
}

.message-expand{
    position: fixed;
    right: 50px;
    bottom: 0px;
    width: 740px;
    height: 500px;
    display: none;
    z-index: 1000;
    border: 1px solid #bebebe;
    background-color: white;
    /* animation: popup 0.5s forwards; */
    
    
}
.openBox{
    animation: popup 0.5s forwards;
}

.message-expand .messages{
    display: flex;
    flex-direction: column;
    width: 272px;
}
.message-expand .messages div:nth-child(1){
    font-size: 18px;
    color: #757575;
    padding: 10px 21px;
}
.message-expand .messages div:nth-child(2){
    background-color: rgb(224, 224, 224);
    height: 100%;
}
.message-expand .messagePromotion{
    width: 100%;
    
}
.message-expand .messagePromotion div:nth-child(1){
    font-size: 18px;
    color: #757575;
    padding: 10px 21px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #bebebe;
}
.messagePromotion div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.messagePromotion div:nth-child(2) i{
    font-size: 46px;
    color: #a1a1a1;
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.messagePromotion div:nth-child(2) a{
    font-size: 12px;
    font-weight: 700;
    color: #00b5e0;
}

.messagePromotion div:nth-child(2) p{
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-weight: 400;
    width: 285px;
    text-align: center;
}
.messagePromotion div:nth-child(2) div a{
    color: rgb(76, 130, 150);
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
}
.itemPriceDetail span:nth-child(1){
    text-decoration: line-through;
}
.cards a{
    cursor: pointer;
}
.footer-first, .footerThird{
    padding: 20px 0 25px 0;
    max-width: 1180px;
    margin: auto;
    
}
.footer-second, .forth-footer{
    width: 100%;
    margin: auto;
    padding: 20px 0 25px 0;
    background-color: white;
}
.footer-second, .forth-footer{
    padding: 20px 0 25px 42px;
}
.forth-footer{
    padding-bottom: 40px;
    padding-right: 30px;
}
.footer-second .footer2,.forth-footer .footer4{
    width: 1188px;
    
    
    margin: auto;
    display: flex;

}
.footer4{
    justify-content: space-between;
}
.forth-footer{
    padding-top: 30px;
}
.flashSale .card{
    border-width: 0px;
}

#storeProducts .card{
    margin-right: 2px;
}

.carousel {
    position: relative;
}
.custom-arrow {
    position: absolute !important;  
    top: 50% !important;
    transform: translateY(-50%) !important;
    
    width: 25px !important;
    height: 25px !important;
    background: rgb(119, 119, 119) !important;
    
    
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; 

    opacity: 0.4 !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2) !important;
    z-index: 5 !important;
}

.carousel-control-prev.custom-arrow {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}


.carousel-control-next.custom-arrow {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.arrow-icon {
    font-size: 12px;
    color: rgb(255, 255, 255) !important;
}
.carousel-item img {
    height: 344px;       /* same as your container */
    object-fit: cover;
}
.customerCare li, .darazCare li{
    width: 297px;
}

.cart-icon img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
}

#spacer {
    height: 25px;
    transition: all 0.3s ease;
}

#spacer.hide {
    height: 0;
    overflow: hidden;
}