<section class="footer-first flex-wrap flex-lg-nowrap">
    <div class="d-flex footer1Inner">
        <!-- First Footer Customer Section -->
        <div class="customerCare">
            <h3 class="footer-first-title">
                Customer Care
            </h3>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">How to Buy</a></li>
                <li><a href="#">Corporate & Bulk Purchasing</a></li>
                <li><a href="#">Returns and Refunds</a></li>
                <li><a href="#">Daraz Shop</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Purchase Protection</a></li>
                <li><a href="#">Daraz Pick up Points</a></li>
            </ul>
        </div>
        <!-- Daraz Care Section -->
        <div class="darazCare">
            <h3 class="footer-first-title">
                Daraz
            </h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Digital Payments</a></li>
                <li><a href="#">Daraz Donates</a></li>
                <li><a href="#">Daraz Blog</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">NTN Number: 4012118-6</a></li>
                <li><a href="#">STRN Number: 1700401211818</a></li>
                <li><a href="#">Online Shopping App</a></li>
                <li><a href="#">Online Grocery Shooping</a></li>
                <li><a href="#">Daraz Exclusive</a></li>
                <li><a href="#">Daraz University</a></li>
                <li><a href="#">Sell on Daraz</a></li>
                <li><a href="#">Join Daraz Affiliate Program</a></li>
            </ul>
        </div>
    </div>
    <div class="footerLogoLink">
        <div class="happyshoppingsection">
            <div class="darazImgFooter">
                <img src="assets/icons/darazFooterLogo.png" alt="">
            </div>
            <div class="downloadCom">
                <span id="happyShoppingHeading">Happy Shopping</span>
                <span id="happyShoppingDownload">Download
                    App</span>
            </div>
        </div>
        <div class="container shoppingAppLinks pt-3 pt-lg-0">
            <div class="row row-cols-2">
                <div class="col downloadApp">

                    <span><img src="assets/icons/appStoreFooterLogo.png" alt=""></span>

                </div>
                <div class="col downloadApp">

                    <span><img src="assets/icons/googleFooterLogo.png" alt=""></span>

                </div>
                <div class="col downloadApp">
                    <span><img src="assets/icons/appGalleryFooter.png" alt=""></span>

                </div>

            </div>

        </div>
    </div>

</section>