<section class="footer-second">
            <div class="footer2 d-flex flex-column flex-lg-row">
                <div class="payment-method">
                    <h3 class="footer2PaymentHeader">
                        Payment Method</h3>
                    <div class="payment-methods-type">
                        <span><img src="assets/icons/paymentCash.png" alt=""></span>
                        <span><img src="assets/icons/paymentVisa.png" alt=""></span>
                        <span><img src="assets/icons/paymentMasterCard.png" alt=""></span>
                        <span><img src="assets/icons/paymentEasypaisa.png" alt=""></span>
                        <span><img src="assets/icons/paymentDaraz.png" alt=""></span>
                        <span><img src="assets/icons/paymentJazzCash.png" alt=""></span>
                        <span><img src="assets/icons/paymentUnion.png" alt=""></span>
                        <span><img src="assets/icons/paymentHBL.png" alt=""></span>
                        <span><img src="assets/icons/paymentEasyInstallment.png" alt=""></span>
                    </div>
                </div>
                <div class="verify-method">
                    <h3 class="footer2PaymentHeader">
                        Verified by</h3>
                    <div class="verify-methods-type">
                        <span><img src="assets/icons/pciDSS.png" alt=""></span>

                    </div>
                </div>
            </div>


        </section>