<div id="topHeader" class="d-none d-lg-block">
        <div onscroll="getPosition('headerOptions')" class="headerOptions" id="headerOptions">
            <span>
                <button type="button" class="btn btn-secondary p-0" data-bs-toggle="popover" data-bs-html="true"
                    data-bs-content="" id="popoverBtnSave" data-bs-custom-class="SavePopover">
                    Save More ON APP
                </button>
            </span>
            <div id="popoverContentSave" class="SavePopover">
                <div>
                    Download the App
                </div>
                <div>
                    <img src="assets/icons/qr.png" alt="">
                </div>
                <div>
                    <img src="assets/icons/appStoreFooterLogo.png" alt="">
                    <img src="assets/icons/googleFooterLogo.png" alt="">
                </div>
            </div>
            <span class="sellondaraz"><a href="#">SELL ON
                    DARAZ</a></span>

            <span>
                <button type="button" class="btn btn-secondary p-0" data-bs-toggle="popover" data-bs-html="true"
                    data-bs-content="" id="popoverBtnHelp" data-bs-custom-class="helpCenterPopover">
                    Help & Support
                </button>
            </span>

            <div id="popoverContentHelp" class="helpCenterPopover">
                <div>
                    <img src="assets/icons/support.png" alt="">
                    <span>Help Center</span>
                </div>
                <div>
                    <img src="assets/icons/support.png" alt="">
                    <span>Contact Customer Care</span>
                </div>
                <div>
                    <i class="fa-solid fa-box"></i>
                    <span>Order</span>
                </div>
                <div>
                    <i class="fa-solid fa-van-shuttle"></i>
                    <span>Shipping and Delivery</span>
                </div>
                <div>
                    <i class="fa-solid fa-credit-card"></i>
                    <span>Payment</span>
                </div>
                <div>
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                    <span>Return & Refund</span>
                </div>

            </div>
            <span>
                <button type="button" class="btn loginButton p-0" data-bs-toggle="modal" data-bs-target="#loginModel">
                    Login
                </button>
            </span>
            <span><button type="button" class="btn signUpButtonNav p-0" data-bs-toggle="modal"
                    data-bs-target="#signupModel">
                    Sign Up
                </button></span>
            <span class="languageChangeSpan">
                <button type="button" class="btn btn-secondary languageChange p-0" data-bs-toggle="popover"
                    data-bs-html="true" data-bs-content="" id="popoverBtnLanguage"
                    data-bs-custom-class="languagePopover">
                    زبان تبدیل کریں
                </button>
            </span>

            <div id="popoverContentLanguage" class="languagePopover">
                <div>
                    <img src="assets/icons/pakFlag.png" alt=""><span>Ur / Urdu</span>
                    <img src="assets/icons/englandFlag.png" alt=""><span>EN | English</span>
                </div>


            </div>
        </div>
    </div>